<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IsoprimeProgram.My.MySettings.IsoprimeDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database\IsoprimeDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="IsoprimeProgram.My.MySettings.IsoprimeDBConnection"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\IsoprimeDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="IsoprimeProgram.My.MySettings.IsoprimeDBConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database\IsoprimeDB.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>